body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0 url('../imagenes/bg.png') fixed; 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-left: 6%;
  gap: 20px;
  justify-content: center;
}