.card {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 520px;
}

.card img {
    border-radius: 10px;
    margin-bottom: 10px;
}
.details {
    width: 100%;
    padding-left: 10%;
}
.details p {
    font-size: 10px;
    text-align: left;
}
.details p:last-of-type {
    font-size: 15px;
  }


.button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}