.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
label {
    margin-right: 0.6em;
}

input {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 10px;
  width: 300px;
}

input:focus {
  outline: 1px solid gray;
  box-shadow: 0 0 15px gray;
}
  
.container input {
  display: flex;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 300px;
  border-radius: 10px;
  margin: 5%;
}
  
button {
  text-align: center;
  padding: 0.5em 1em;
  background-color: transparent; 
  border: 2px solid #000; 
  border-radius: 20px; 
  font-weight: bold;
  font-size: 15px;
  color: #000; 
  cursor: pointer;
  margin: 2%;
}
  
button:hover {
  box-shadow: 0 0 20px gray;
}
button:active {
  color: gray;
  border: 2px solid gray;
  box-shadow: inset 0 0 20px gray;
}