nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    grid-template-rows: 1fr;
    font-family: 'Kanit', sans-serif;
}
.home{
    padding-left: 20px;
    grid-column: 1;
}
.products{
    text-align: center; 
    align-self: center;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; 
    justify-content: space-between;
}
.shop{
    text-align: right;
    align-self: center;
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(4, 1fr);
}
.shop .nav-link{
    font-size: 15px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link-container {
   position: relative;
   display: inline-block;
}

.nav-link {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;  
    font-weight: bold;  
    position: relative;
    transition: color 0.3s ease;
}
  
.nav-link-underline {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 2px;
   background-color: rgb(99, 210, 247);
   transition: width 0.3s ease; 
}

.nav-link-container:hover .nav-link-underline {
   width: 100%;
}
.nav-link img{
   padding-right: 5px;
}